doctype html
html
    head
        meta(http-equiv='X-UA-Compatible' content='IE=Edge')
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='keywords' content='')
        meta(name='description' content='')
        title TingNode
        link(rel='icon' href='./client/images/toncapy.png' type='image/gif' sizes='18x16')
        // main css
        link(rel='stylesheet' href='client/css/bootstrap.min.css')
        link(rel='stylesheet' href='client/css/all.min.css')
        link(rel='stylesheet' href='client/css/hover-min.css')
        link(rel='stylesheet' href='client/css/flag-icons.min.css')
        link(rel='stylesheet' href='client/wow/animate.css')
        link(rel='stylesheet' href='client/css/style.css')
        link(rel='stylesheet' href='client/slick/slick.css')
        link(rel='stylesheet' href='client/fonts/fontstyle.css')


    body
        include ../_partials/header
        section
            block content
        include ../_partials/menu
        // main js
        script(src='client/js/all.min.js')
        script(src='client/js/jquery.min.js')
        script(src='client/js/bootstrap.bundle.min.js')
        script(src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
        script(src="http://threejs.org/examples/js/libs/stats.min.js")
        script(src='client/js/particlesjs-config.js') 
        script(src='client/wow/wow.min.js')
        //- script(src='client/slick/slick.js')
        script(src='client/js/main.js')
        //- script(src='client/js/validate.js')

        script.
            new WOW().init(
                {
                    offset: 100,
                    mobile: true,
                    live: true
                }
            );
            

            $(function () {
                if ($(window).width() > 769) {
                    $('.menu .dropdown > a').click(function () {
                        location.href = this.href;
                    });
                }
            })

            //- particlesJS.load('particles-js', 'client/js/particlesjs-config.json', function() {
            //-     console.log('Particles.js loaded');
            //- });







