extends _layouts/master

block content
    
       
        #stakeModal.modal.fade(tabindex="-1", aria-labelledby="stakeModalLabel", aria-hidden="true")
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-body
                        .validator-dashboard
                            .validator-card
                                .validator-header
                                    img.validator-icon(src="client/images/t-cap.png", alt="")
                                    .validator-title
                                        span.title-text Validators hold 
                                        span.highlight TCAPY
                        .stake-form
                            .form-row
                                .form-label MIN Stake
                                .form-value 15,000 TCAPY
                            
                            .form-row
                                .form-label Balance
                                .d-flex.align-items-center.justify-content-between
                                    .form-value 1,300,000 
                                    span TCAPY
                            
                            .form-row
                                .form-label Amount
                                .form-input-group
                                    input#stakeAmount.form-control(type="number", placeholder="Enter amount", min="15000", step="1000")
                                    button.max-btn MAX
                            
                            .form-row
                                .form-label Period
                                .form-input-group
                                    select#stakePeriod.form-control
                                        option(value="3") 3 months
                                        option(value="6") 6 months
                                        option(value="12") 12 months
                                        option(value="24") 24 months
                            
                            .form-row
                                .form-label APY
                                .form-value.apy-value 5%
                    
                    .modal-footer
                        button.stake-confirm-btn STAKE

        #stake-t-capy.modal.fade(tabindex="-1", aria-labelledby="stakeModalLabel", aria-hidden="true")
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-body
                        .validator-dashboard
                            .validator-card
                                .validator-header
                                    img.validator-icon(src="client/images/t-cap-1.png", alt="")
                                    .validator-title
                                        span.title-text Validators hold 
                                        span.highlight TCAPY
                        .stake-form
                            .form-row
                                .form-label MIN Stake
                                .form-value 15,000 TCAPY
                            
                            .form-row
                                .form-label Balance
                                .d-flex.align-items-center.justify-content-between
                                    .form-value 1,300,000 
                                    span TCAPY
                            
                            .form-row
                                .form-label Amount
                                .form-input-group
                                    input#stakeAmount.form-control(type="number", placeholder="Enter amount", min="15000", step="1000")
                                    button.max-btn MAX
                            
                            .form-row
                                .form-label Period
                                .form-input-group
                                    select#stakePeriod.form-control
                                        option(value="3") 3 months
                                        option(value="6") 6 months
                                        option(value="12") 12 months
                                        option(value="24") 24 months
                            
                            .form-row
                                .form-label APY
                                .form-value.apy-value 5%
                    
                    .modal-footer
                        button.stake-confirm-btn STAKE                
        .home

            .container
                .row
                    .col-lg-6.col-md-6.col-sm-12.d-flex.justify-content-center.align-items-center
                        img.key-icon(src="client/images/tingnode-img.png")
                    .col-lg-6.col-md-6.col-sm-12.d-flex.justify-content-center.align-items-center
                        img.key-tingnode(src="client/images/tingnode-banner.png")
        .validators 
            .container
                .my-4.d-flex.justify-content-center.align-items-center.validators-title-text
                    span.validators-title-text-v.me-2 Validators 
                    span.validators-title-text-t TINGNODE
                .row.pt-5 
                    .col-lg-6.col-md-6.col-sm-12.d-flex.justify-content-center.align-items-center.pt-3
                        .validator-dashboard
                            .validator-card
                                .validator-header
                                    img.validator-icon(src="client/images/t-cap.png", alt="")
                                    .validator-title
                                        span.title-text Validators hold 
                                        span.highlight TCAPY

                                .validator-metrics
                                    .metric-item
                                        .metric-label In Circulation
                                        .metric-value.circulation 100,000,000

                                    .metric-item
                                        .metric-label Staking TONCAPY
                                        .metric-value 15,000

                                    .metric-item
                                        .metric-label APR
                                        .metric-value.apr 0.2% - 0.68% / Day

                                    .metric-item
                                        .metric-label Holders
                                        .metric-value 15,000

                                    .validator-action
                                        button.stake-button(data-bs-toggle="modal", data-bs-target="#stakeModal") STAKE  

                    .col-lg-6.col-md-6.col-sm-12.d-flex.justify-content-center.align-items-center.pt-3
                        .validator-dashboard
                            .validator-card
                                .validator-header
                                    img.validator-icon(src="client/images/t-cap-1.png", alt="")
                                    .validator-title
                                        span.title-text Validators hold 
                                        span.highlight TCAPY

                                .validator-metrics
                                    .metric-item
                                        .metric-label In Circulation
                                        .metric-value.circulation 100,000,000

                                    .metric-item
                                        .metric-label Staking TONCAPY
                                        .metric-value 15,000

                                    .metric-item
                                        .metric-label APR
                                        .metric-value.apr 0.2% - 0.68% / Day

                                    .metric-item
                                        .metric-label Holders
                                        .metric-value 15,000

                                    .validator-action
                                        button.stake-button(data-bs-toggle="modal", data-bs-target="#stake-t-capy") STAKE
























