header.fixed-top
    nav.navbar.navbar-expand-lg.py-0
        .container.d-flex.justify-content-between.px-2.py-2.py-lg-0
            a.navbar-brand(href='index.html')
                img.img-logo(src="client/images/logo.png" alt="")
            #menu.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasNavbarLabel')
                .offcanvas-header
                    h5.offcanvas-title
                        img.img-logo(src="client/images/logo.png" alt="")
                    button.btn.p-0.border-0.text-white(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
                        i.fa-solid.fa-xmark.fa-2x
                .offcanvas-body
                    ul.navbar-nav.ms-auto.nav-menu
                        li.nav-item(data-bs-dismiss='offcanvas')
                            a.nav-link.me-lg-3(href='index.html') Dashboard
                        li.nav-item(data-bs-dismiss='offcanvas')
                            a.nav-link.me-lg-3(href='validators.html') Validator
                        li.nav-item(data-bs-dismiss='offcanvas')
                            a.nav-link.me-lg-3(href='overview.html') My Overview

            .d-flex.align-items-center.gap-2.ms-auto
                .dropdown
                    a.nav-link.me-lg-3.fs-4.d-flex.align-items-center(href='javascript:void(0)' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                        span.flag-icon
                            span.fi.fi-gb
                    ul.dropdown-menu.dropdown-menu-end.mt-3
                        li
                            a.dropdown-item(href='javascript:void(0)')
                                span.fi.fi-gb.me-3
                                | English
                        li
                            a.dropdown-item(href='javascript:void(0)')
                                span.fi.fi-cn.me-3
                                | 中文
                button.btn.btn-connect.me-2.px-3(href='javascript:void(0)' ) Connect Wallet

            button.navbar-toggler.border-0.pe-0.text-white.fs-2(type='button' data-bs-toggle='offcanvas' data-bs-target='#menu' aria-controls='offcanvasNavbar' aria-label='Toggle navigation')
                i.fa-solid.fa-bars