@use "./breakpoint.scss" as *;
@use "./galaxy.scss" as galaxy;
@use "./overview.scss" as *;

$background-color: #01101b;
$color-page: #BCC8C8;
$color-page2: #ffffff;
$color-page3: #c4a7ff;
$color-page4: #adff39;
$bnt-radiant: linear-gradient(#003e3e, #000000);
$primary-color: #00bfae;
$secondary-color: #f2f2f2;
$button-color: #4caf50;
$input-border-color: #e0e0e0;
$primary-color: #00bcd4;
$secondary-color: #607d8b;
$highlight-color: #ff9800;
$bg-color: #f1f5f8;
$card-bg-color: #ffffff;
$button-color: #ffc107;

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.rotate {
  animation: rotate 5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.slick-slider {
  .slick-prev,
  .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: black;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;

    &:focus {
      outline: none;
    }

    &.slick-disabled:before {
      opacity: 0.25;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    line-height: 1;
    color: white;
    opacity: 0.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .slick-prev {
    left: -25px;
    width: 30px;
    height: 30px;
    //background: url(../images/arrow-left.svg) no-repeat center center;
    background-size: 100% 100%;
    transform: translateY(-40%);

    @include sm {
      left: -5px;
      width: 30px;
      height: 30px;
    }
  }

  .slick-next {
    right: -25px;
    width: 30px;
    height: 30px;
    //background: url(../images/arrow-right.svg) no-repeat center center;
    background-size: 100% 100%;
    transform: translateY(-40%);

    @include sm {
      right: -5px;
      width: 30px;
      height: 30px;
    }
  }
}

.text-justify {
  text-align: justify;
}

.text-grey {
  color: #a99e9e;
}

.validate {
  position: relative;

  &:hover {
    .validate-block {
      display: block;
    }
  }
}

.validate-block {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: #393939;
  color: #767676;
  display: none;
  z-index: 3;

  .show {
    //color: $color-active;
  }
}

body {
  background-color: $background-color;
  font-size: 12px;
  overflow-x: hidden;
  color: $color-page;
}

//global class
:root,
[data-bs-theme="light"] {
  --bs-success-rgb: 126, 217, 87;
  --bs-danger-text-emphasis: #f9b49d;
  --bs-border-color: #5d7171;
}

.logo {
  height: 35px;
}

.sp-icon {
  height: 46px;
}
.cur-poiter {
  cursor: pointer;
}

.form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  color: $color-page;

  &:focus {
    box-shadow: none;
  }

  option {
    color: $color-page;
    background: #1b1c21;
  }
}

.modal-content {
  background: #002f2f;
}

.dropdown-menu {
  background: #052323;

  .dropdown-item {
    color: white;

    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }
  }
}

.block-method {
  background: rgba(93, 113, 113, 0.3);
  border-radius: 5px;
  color: $color-page;

  &:hover,
  &:active {
    background: rgba(93, 113, 113, 0.3) !important;
    color: $color-page;
  }
}

.input-group {
  background: #ffffff;
  border-radius: 30px;

  .input-group-text,
  .form-select,
  .form-control {
    //--bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-color: transparent;
    border: 0;
    &::placeholder {
      color: $color-page;
    }
  }
  .input-group-text{
    background: #009393;
    border-radius: 30px !important;
    color: #fff;
  }
}

.text-pink {
  color: #f3bb02;
}

.text-capy {
  color: #bcc8c8;
  font-size: 14px;
  font-weight: 300;
  margin-left: 8px;
}

.text-gradient {
  font-weight: bold;
  background-image: linear-gradient(to right, #a48eff 20%, #00ffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.text-title{
  font-size: 25px;
  font-family: 'UTM', Times, serif;
}
.btn-submit {
  background: linear-gradient(#009393, #002c2c);
  color: #fff;
  font-weight: bold;
  border: 0;

  &:hover {
    color: #fff;
  }
}
.flag-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8.5rem; // tuỳ chọn, cho viền nhẹ
}
header {
  background: #01101baf;
  .img-logo {
    height: auto;
    width: 160px;
    @include sm {
      width: 105px;
    }
  }

  .btn-connect {
    background: #009393;
    color: #fff;
    border: none;
    border-radius: 999px;
    padding: 10px 20px;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background: #016b6b;
      transform: scale(1.05);
      color: #fff;
    }

    &:active {
      transform: scale(0.98);
      color: #fff;
    }
  }

  .navbar-nav {
    .nav-item {
      display: flex;
      align-items: center;
      justify-content: center;

      @include sm {
        justify-content: start;
        width: 100%;
      }

      .nav-link {
        color: #bcc8c8;
        font-size: 14px;

        @include sm {
          width: 100%;
          font-size: 20px;
          padding: 12px 0;
        }

        &:hover {
          color: #00aeae;
        }

        &.active {
          color: #00aeae;
        }
      }
    }
  }

  .flag-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;

    .flag-circle {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden;
      background: #fff; // hoặc transparent nếu muốn
      font-size: 1.5rem;
      line-height: 1;
      padding: 0;
      box-shadow: 0 0 0 1px #e0e0e0; // tuỳ chọn, cho viền nhẹ
    }

    .flag-circle .fi,
    .flag-circle img,
    .flag-circle svg {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      display: block;
    }

    font-size: 1.5rem;
    line-height: 1;
    padding: 0;
  }

  .offcanvas {
    background: #000202;
  }

  .dropdown-menu {
    background: #000202;
    border: 1px solid #47e6ff;
    border-radius: 10px;

    .dropdown-item {
      color: #47e6ff;

      &:hover {
        background: #47e6ff;
        color: #000202;
      }
    }
  }
}

section {
  .banner {
    position: relative;
    .img-banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include sm {
        height: 80vh;
      }
    }
    .banner-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      object-fit: cover;
    }
    .banner-content {
      position: absolute;
      bottom: -5%;
      height: 50%;
      left: 0;
      right: 0;
      z-index: 2;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #01101b 80%);
    }
  }

  .validators {
    padding: 100px 0;
    height: auto;

    .validators-title {
      color: #fff;
      font-size: 40px;
      font-weight: bold;
    }

    .validator-dashboard {
      background: #002c2c;
      background: linear-gradient(
        0deg,
        rgba(0, 44, 44, 1) 0%,
        rgba(0, 85, 85, 1) 100%
      );
      border-radius: 20px;
      padding: 0;
      width: 450px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      height: 450px;
      position: relative;
    }

    .validator-card {
      padding: 20px;
      content: "";
      position: absolute;
      top: 20%;
      left: 0;
      right: 0;
      height: 60px;
      background: #002d2d;
      transform: translateY(-50%);
      z-index: 1;
    }

    .validator-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      height: 100%;

      .validator-icon {
        width: 110px;
        height: 110px;
      }

      .validator-title {
        .title-text {
          color: #ffffff;
          font-size: 18px;
          font-weight: 500;
          margin: 0;
        }

        .highlight {
          color: #47e6ff;
          font-weight: bold;
          margin-right: 20px;
        }
      }
    }

    .validator-metrics {
      padding: 22px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .metric-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        border-bottom: 2px solid #009393;

        .metric-label {
          color: #bcc8c8;
          font-size: 14px;
          font-weight: 400;
        }

        .metric-value {
          color: #ffffff;
          font-size: 16px;
          font-weight: 300;

          &.circulation {
            color: #fbb111;
          }

          &.apr {
            color: #fbb111;
          }
        }
      }
    }

    .validator-action {
      padding-top: 20px;

      .stake-button {
        width: 100%;
        background: #dc9c00;
        background: linear-gradient(
          90deg,
          rgba(220, 156, 0, 1) 0%,
          rgba(0, 174, 174, 1) 100%
        );
        border: none;
        border-radius: 999px;
        padding: 10px 0px;
        color: #ffffff;
        font-size: 16px;

        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }
}
.table-border{
  border: 1px solid #009393;
  border-radius: 10px;
  overflow: hidden;

  .table {
    border-collapse: collapse;
    width: 100%;
    --bs-table-bg: #011D27;
    --bs-table-color: #ffffff;
    --bs-table-striped-color: #ffffff;
    th,
    td {
      padding: 12px 15px;
      border-bottom: 1px solid #009393;
    }
    thead{
      tr{
        th {
          color: #6399FF;
        }
      }
    }
  }
  .table-striped>tbody>tr:nth-of-type(odd)>*{
    --bs-table-striped-bg: #012932;
  }
}
#stakeModal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        border-bottom: none;
      }
      background: linear-gradient(180deg, #004d4d 0%, #003e3e 100%);
      height: 100%;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url("../images/bannner-modal.png") center center no-repeat;
        background-size: 320px 320px;
        opacity: 0.18;
        pointer-events: none;
        z-index: 0;
      }

      > * {
        z-index: 1;
      }
    }
  }

  background-size: 320px 320px;
  border: none;
  border-radius: 20px;
  color: #ffffff;

  overflow: hidden;
  height: auto;
  min-height: 450px;

  .modal-body {
    padding: 0 30px 25px;
    position: relative;
    z-index: 2;
    padding-top: 40px;
  }

  .validator-dashboard {
    margin-bottom: 20px;
    height: 50px;

    .validator-card {
      padding: 20px;
      position: absolute;
      top: 8%;
      left: 0;
      right: 0;
      height: 60px;
      background: #002d2d;
      transform: translateY(-50%);
      z-index: 1;
    }

    .validator-header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      height: 100%;

      .validator-icon {
        width: 100px;
        height: 100px;
      }

      .validator-title {
        margin-left: 25px;

        .title-text {
          color: #ffffff;
          font-size: 18px;
          font-weight: 500;
          margin: 0;
        }

        .highlight {
          color: #47e6ff;
          font-weight: bold;
          margin-right: 20px;
        }
      }
    }
  }

  .stake-form {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;

      .form-label {
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
      }

      .form-value {
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;

        &.apy-value {
          color: #fbb111;
          font-weight: bold;
        }
      }

      .form-input-group {
        display: flex;
        gap: 10px;
        flex: 1;
        max-width: 300px;
        background: #ffffff;
        border-radius: 25px;

        .form-control {
          background: #ffffff;
          border: none;
          border-radius: 25px;
          color: #000000;
          padding: 12px 15px;
          font-size: 14px;
          flex: 1;

          &:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(71, 230, 255, 0.3);
          }

          &::placeholder {
            color: #666666;
          }
        }

        .max-btn {
          background: #009393;
          border: none;
          color: #ffffff;
          padding: 14px 20px;
          font-size: 14px;

          cursor: pointer;
          transition: all 0.3s ease;
          border-radius: 999px;
          white-space: nowrap;
          width: 100px;

          &:hover {
            background: #adff39;
            color: #000000;
          }
        }
      }

      // Thêm style cho dropdown
      .form-select {
        background: #ffffff;
        border: none;
        border-radius: 25px;
        color: #000000;
        padding: 12px 15px;
        font-size: 14px;
        max-width: 300px;
        flex: 1;

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(71, 230, 255, 0.3);
        }
      }
    }
  }
}

#stake-t-capy {
  .modal-dialog {
    .modal-content {
      .modal-header {
        border-bottom: none;
      }
      background: linear-gradient(180deg, #004d4d 0%, #003e3e 100%);
      height: 100%;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url("../images/bannner-modal.png") center center no-repeat;
        background-size: 320px 320px;
        opacity: 0.18;
        pointer-events: none;
        z-index: 0;
      }

      > * {
        z-index: 1;
      }
    }
  }

  background-size: 320px 320px;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  // align-items: center;
  // justify-content: center;
  // display: flex;
  overflow: hidden;
  height: auto;
  min-height: 450px;

  .modal-body {
    padding: 0 30px 25px;
    position: relative;
    z-index: 2;
    padding-top: 40px;
  }

  .validator-dashboard {
    margin-bottom: 20px;
    height: 50px;

    .validator-card {
      padding: 20px;
      position: absolute;
      top: 8%;
      left: 0;
      right: 0;
      height: 60px;
      background: #002d2d;
      transform: translateY(-50%);
      z-index: 1;
    }

    .validator-header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      height: 100%;

      .validator-icon {
        width: 100px;
        height: 100px;
      }

      .validator-title {
        margin-left: 25px;

        .title-text {
          color: #ffffff;
          font-size: 18px;
          font-weight: 500;
          margin: 0;
        }

        .highlight {
          color: #47e6ff;
          font-weight: bold;
          margin-right: 20px;
        }
      }
    }
  }

  .stake-form {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;

      .form-label {
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
      }

      .form-value {
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;

        &.apy-value {
          color: #fbb111;
          font-weight: bold;
        }
      }

      .form-input-group {
        display: flex;
        gap: 10px;
        flex: 1;
        max-width: 300px;
        background: #ffffff;
        border-radius: 25px;

        .form-control {
          background: #ffffff;
          border: none;
          border-radius: 25px;
          color: #000000;
          padding: 12px 15px;
          font-size: 14px;
          flex: 1;

          &:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(71, 230, 255, 0.3);
          }

          &::placeholder {
            color: #666666;
          }
        }

        .max-btn {
          background: #009393;
          border: none;
          color: #ffffff;
          padding: 14px 20px;
          font-size: 14px;

          cursor: pointer;
          transition: all 0.3s ease;
          border-radius: 999px;
          white-space: nowrap;
          width: 100px;

          &:hover {
            background: #adff39;
            color: #000000;
          }
        }
      }

      // Thêm style cho dropdown
      .form-select {
        background: #ffffff;
        border: none;
        border-radius: 25px;
        color: #000000;
        padding: 12px 15px;
        font-size: 14px;
        max-width: 300px;
        flex: 1;

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(71, 230, 255, 0.3);
        }
      }
    }
  }
}

.modal-footer {
  border-top: none; // Xóa border
  padding: 0 25px 25px;
  position: relative;
  z-index: 2;

  .stake-confirm-btn {
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(220, 156, 0, 1) 0%,
      rgba(0, 174, 174, 1) 100%
    );
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    color: #ffff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}
